<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Default
	Layout</title>


<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

</head>
<body>
	<!--/* Standard layout can be mixed with Layout Dialect */-->
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div layout:fragment="content"></div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

	<!-- Add JQuery framework JS dependency-->
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.js"
		th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" type="text/javascript"></script>

	<!-- Add bootstrap framework JS dependency-->
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>