<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="default/layout">
<head lang="ptBR">

</head>
<body>
	<div layout:fragment="content">

		<h3 class="sub-header">Calulo de Frete</h3>

		<div class="row">
			<!-- 1 -->

			<div class="col-md-6 col-lg-6 col-xs-12">
				<form class="form-horizontal" action="#"
					th:action="@{/frete/calcular}" th:object="${frete}" method="POST">


					<div class="form-group">
						<label for="geocodigo">Geocódigo A</label> <input type="text"
							class="form-control" th:field="*{geocodigoA}"
							placeholder="Geocódigo"></input>
					</div>
					
					<div class="form-group">
						<label for="geocodigo">Geocódigo B</label> <input type="text"
							class="form-control" th:field="*{geocodigoB}"
							placeholder="Geocódigo"></input>
					</div>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Calcular</button>
				</form>
			</div>


		</div> <!-- 1 -->
		
		<div class="row"><!-- 2 -->
	

			

		</div> <!-- 2 -->
		
	</div>
</body>
</html>